<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>View FoodDiary</title>

  <!-- Angular and Bootstrap files  -->
  <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">
    <div ng-app="viewFoodDiary" ng-controller="controller" style="overflow-x: auto">
      <table style="width: 100%;">
        <tr>
          <td style="width: 15%; min-width: 200px; vertical-align: top">
            <h2>Patient List</h2>
            <div style="display: flex; flex-direction: column; padding-top: 15px; padding-right: 20px;">
              <button ng-repeat="patient in patients" ng-click="viewFoodDiaries(patient.username)" style="margin-bottom: 5px;">
                {{ patient.username }}
              </button>
            </div>
          </td>

          <td style="vertical-align: top;">
            <div ng-show="!selectedPatient">
              <h2>Please click on a patient to view their food diary.</h2>
            </div>
            <h2 ng-show="selectedPatient">{{ selectedPatient }}'s Food Diary</h2>
            <div ng-show="selectedPatient && foodDiaries.length > 0" style="padding-top: 10px;">
              <table style="width: 100%" class="table table-hover">
                <thead>
                <colgroup>
                  <col style="width: 10%;">
                  <col style="width: 10%;">
                  <col style="width: 10%;">
                  <col style="width: 10%;">
                  <col style="width: 7%;">
                  <col style="width: 7%;">
                  <col style="width: 7%;">
                  <col style="width: 7%;">
                  <col style="width: 7%;">
                  <col style="width: 7%;">
                  <col style="width: 7%;">
                </colgroup>
                <tr>
                  <th>Date</th>
                  <th>Type of Meal</th>
                  <th>Food Name</th>
                  <th>Num of Servings</th>
                  <th>Calories(cal)</th>
                  <th>Fat(g)</th>
                  <th>Sodium(mg)</th>
                  <th>Carbs(g)</th>
                  <th>Sugars(g)</th>
                  <th>Fiber(g)</th>
                  <th>Protein(g)</th>
                </tr>
                </thead>
                <tbody ng-repeat="d in foodDiaries" name="foodDiary">
                <tr>
                  <td name="date" rowspan="2">{{d.date}}</td>
                  <td name="meal" rowspan="2">{{d.mealType}}</td>
                  <td name="name" rowspan="2">{{d.foodName}}</td>
                  <td name="numServings" rowspan="2">{{d.servingsNum}}</td>
                  <td name="cal">{{d.caloriesPerServing}}</td>
                  <td name="fat">{{d.fatGramsPerServing}}</td>
                  <td name="sodium">{{d.sodiumMilligramsPerServing}}</td>
                  <td name="carbs">{{d.carbsGramsPerServing}}</td>
                  <td name="sugar">{{d.sugarsGramsPerServing}}</td>
                  <td name="fiber">{{d.fiberGramsPerServing}}</td>
                  <td name="protein">{{d.proteinGramsPerServing}}</td>
                </tr>
                <tr>
                  <td name="totCal">{{d.servingsNum * d.caloriesPerServing}}</td>
                  <td name="totFat">{{d.fatGramsTotal}}</td>
                  <td name="totSodium">{{d.sodiumMilligramsTotal}}</td>
                  <td name="totCarbs">{{d.carbsGramsTotal}}</td>
                  <td name="totSugar">{{d.sugarsGramsTotal}}</td>
                  <td name="totFiber">{{d.fiberGramsTotal}}</td>
                  <td name="totProtein">{{d.proteinGramsTotal}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div ng-show="selectedPatient && foodDiaries.length === 0" style="padding-top: 15px">
              <p>There are no written food diaries yet.</p>
            </div>
          </td>
        </tr>
      </table>
    </div>

  <script th:inline="javascript">
    /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
    /*<![CDATA[*/
    const app = angular.module("viewFoodDiary", []); // Inject ngRoute for routing
    app.controller('controller', function ($scope, $http) {
      $http.get('/iTrust2/api/v1/patients')
              .then(function (response) {
                $scope.patients = response.data;
                console.log(response.data);
              })
              .catch(function (error) {
                console.error('Error fetching patients:', error);
              });

      $scope.viewFoodDiaries = function (patientName) {
        $http.get('/iTrust2/api/v1/patients/' + patientName + '/foodDiaries')
                .then(function (response) {
                  console.log('Food Diaries:', response.data);
                  $scope.selectedPatient = patientName;
                  $scope.foodDiaries = response.data;
                })
                .catch(function (error) {
                  console.error('Error fetching food diaries:', error);
                });
      }
    });
  </script>
</div>
</body>
</html>
